$gridSize: 10px;

.icon {
  width: 3*$gridSize;
  height: 3*$gridSize;
  position: relative;

  svg {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    fill: inherit;

    use {
      fill: inherit;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}